@media all and (min-width: 768px) {
    tr {
        td {
            vertical-align: middle !important;
        }
        span {
            &:not([class]) {
                padding: 1rem 1rem;
            }
        }
    }
    nz-select {
        width: 300px;
    }
}

.center {
    display: flex;
    justify-content: center;
}

.col-b {
    display: flex;
    justify-content: center;
}

.col-c {
    float: left;
}

th {
    font-size: 14px;
}

table td {
    position: relative;
}

th {
    font-size: 14px;
    text-align: center;
}

td span {
    font-size: 14px;
    text-align: center;
}

.centering {
    text-align: center;
}

table td {
    position: relative;
    //text-align: center;
}

.sml-btn-icon {
    vertical-align: 0.1em!important
}