<div class="row" style="width: 40%;">

    <div class="col-8">
        <div class="btn-group">

            <button (click)="prev()" nz-button nzType="primary" [nzSize]="size"><i nz-icon nzType="double-left" class="sml-btn-icon" ></i></button>

            <button mwlCalendarToday [(viewDate)]="viewDate" nz-button [nzSize]="size"> {{formToday(today) }}</button>

            <button (click)="next()" nz-button nzType="primary" [nzSize]="size"><i nz-icon nzType="double-right" class="sml-btn-icon" ></i></button>

        </div>
    </div>

    <div class="col-3">
        <button (click)="showModal()" nz-button nzType="primary" [nzSize]="size"><i nz-icon nzType="plus" class="sml-btn-icon"></i>Evènnement</button>

    </div>
</div>
<br />













<div id="table" class="table-editable center ">
    <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
            <th></th>
            <th></th>
            <th></th>
            <th scope="col" style="width: 7% ;" *ngFor="let date  of currentWeek"> <span nz-typography>{{formWeek(date)}}</span></th>
            <th colspan="2">Evaluation/semaine </th>
        </thead>
        <tr>
            <th>Collaborteur</th>
            <th class="text-center ">ID projet</th>
            <th class="text-center  ">Nom projet</th>
            <th class="text-center " *ngFor="let day of weekdays ">
                <span nz-typography>{{ day }}</span>
            </th>
            <th class="text-center ">Total</th>
            <th>Valider</th>
        </tr>





        <tr *ngFor="let collab of collaboratorsList">
            <td><span nz-typography>{{collab.name}}</span></td>
            <td><span nz-typography>1</span></td>
            <td><span nz-typography>proj1</span></td>
            <td *ngFor="let i of [0,1,2,3,4,5,6] "> {{i}}</td>
            <td></td>
            <td></td>


        </tr>



    </table>
</div>