<div class="container" style="width: 40%;">


    <div class="well">
        <div class="center">
            <div class="col-sm-2 text-center"> <button nz-button style="background-color: gray;" [nzSize]="size" (click)="prev()"><i nz-icon nzType="double-left" nzTheme="outline"></i></button>

            </div>
            <div class="col-md-5 text-center">
                <h5>{{formToday(today) }}</h5>
            </div>
            <div class="col-sm-2 text-center">
                <button nz-button style="background-color: gray;" [nzSize]="size" (click)="next()"><i nz-icon nzType="double-right" nzTheme="outline"></i></button>

            </div>
        </div>


    </div>
</div>
<br />

<div id="table" class="table-editable center ">
    <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
            <th></th>
            <th></th>
            <th></th>
            <th scope="col" style="width: 7% ;" *ngFor="let date  of currentWeek"> <span nz-typography>{{formWeek(date)}}</span></th>
            <th colspan="2">Evaluation/semaine </th>
        </thead>
        <tr>
            <th>Collaborteur</th>
            <th class="text-center">ID projet</th>
            <th class="text-center">Nom projet</th>
            <th class="text-center " *ngFor="let day of weekdays">
                <span nz-typography>{{ day }}</span>
            </th>
            <th class="text-center">Total</th>
            <th>Valider</th>
        </tr>





        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td *ngFor="let i of [0,1,2,3,4,5,6] "> {{i}}</td>
            <td></td>
            <td></td>


        </tr>



    </table>


</div>