<div class="wrapper fadeInDown">
    <div id="formContent" style="margin-top: 5%;">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="../assets/images/wevioo_1.png" id="icon" alt="wevioo" />
            <h5>TimeVioo</h5>
        </div>

        <!-- Login Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input type="text" id="login" class="fadeIn second" placeholder="Login" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
            <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="Mot de passe" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <input [disabled]="loading" type="submit" class="fadeIn fourth" value="Connexion">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="https://www.wevioo.com/fr">www.wevioo.com</a>
        </div>

    </div>
</div>