<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" *ngIf="currentUser" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">

        <div class="sidebar-logo">
            <a href="" target="_blank">
                <img src="../assets/images/timetrackerlogo.svg" alt="logo">
                <h1>TimeVioo</h1>
            </a>
        </div>
        <ul *ngIf="isAdmin" nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Utilisateurs" nzIcon="user">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/roles">Rôles</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/relations">Relations</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Calendrier" nzIcon="schedule">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/calendar">Configurer </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul *ngIf="! isAdmin" nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Mon espace" nzIcon="user">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/user">Tableau de bord</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/home">Imputations</a>
                    </li>
                </ul>
            </li>

            <li nz-submenu nzOpen nzTitle="Collaborateurs" nzIcon="user">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/validation">Validations</a>
                    </li>

                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header *ngIf="currentUser">

            <div class="app-header">


                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>

                <span>

                    <nz-input-group [nzSuffix]="suffixIconSearch" style="width: 20%;">
                        <input type="text" nz-input placeholder="Recherche" />
                      </nz-input-group>
                      <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                      </ng-template>


                </span>





                <span class="he">
                  
                    <ul  nz-menu nzMode="inline" >
                        <li nz-submenu nzTitle="Fethia Belkilani" nzIcon="user" >
                            <ul>
                                
                                        <li nz-menu-item nzSelected >informations </li>
                                        <li nz-menu-item (click)="logout()">Déconnexion</li>
                                    
                                
                            </ul>
                        </li>
                    </ul>



                </span>


            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>