nz-progress {
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
}

nz-select {
    width: 200px;
}

nz-list {
    padding: 24px;
}
[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }