            @media all and (min-width: 768px) {
                tr {
                    td {
                        vertical-align: middle !important;
                    }
                    span {
                        &:not([class]) {
                            padding: 1rem 1rem;
                        }
                    }
                }
                nz-select {
                    width: 300px;
                }
            }
            
            .center {
                display: flex;
                justify-content: center;
                // width: 90%;
                // margin-left: 5%;
            }
            
            .center-button {
                float: right;
                margin-right: 5%;
            }
            
            th {
                font-size: 14px;
                text-align: center;
            }
            
            td span {
               font-size: 14px;
                text-align: center;
            }
            
            .centering {
                font-size: 14px;

                text-align: center;
            }
            
            table td {
                position: relative;
                //text-align: center;
            }
            
            table td input {
                font-size: 14px;
                position: absolute;
                text-align: center;
                display: block;
                top: 0;
                left: 0;
                margin: 0;
                height: 100%;
                width: 100%;
                border: none;
                padding: 10px;
                box-sizing: border-box;
            }
            
            table td nz-input-number {
                font-size: 14px;
                position: absolute;
                text-align: center;
                display: block;
                top: 0;
                left: 0;
                margin: 0;
                height: 100%;
                width: 100%;
                border: none;
                border-radius: initial;
                padding: 10px;
                box-sizing: border-box;
            }
            
            .sml-btn-icon {
                vertical-align: 0.1em!important
            }
            
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            
            input:invalid {
                border-color: red;
            }
            
            input,
            input:valid {
                border-color: #ccc;
            }
            
            .error-div {
                margin-bottom: 15px;
                height: 35px;
                width: 50%;
            }
            event-text{
                
                font-size: unset;
                text-align: center;
            }
            .btn-status{
                height: 22px;
                text-align: center;
                font-size: 13px;  
                margin-bottom: 0px;          
            }
            .btn-status-sent{
                background-color: #FFC107; 
                border-color: #FFC107;
            }
            .btn-status-valid{
                background-color: #28A745;
                border-color: #28A745;
            }

            