<div class="container" style="width: 40%;">


    <div class="well">
        <div class="center">
            <div class="col-sm-2 text-center"> <button nz-button nzType="primary" [nzSize]="size" (click)="prev()"><i nz-icon nzType="double-left" nzTheme="outline"></i></button>

            </div>
            <div class="col-md-5 text-center">
                <h5>{{formToday(today) }}</h5>
            </div>
            <div class="col-sm-2 text-center">
                <button nz-button nzType="primary" [nzSize]="size" (click)="next()"><i nz-icon nzType="double-right" nzTheme="outline"></i></button>

            </div>
        </div>


    </div>
</div>
<br />

<div id="table" class="table-editable center ">
    <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
            <th colspan="2" style="width: 25%;">
                Projets
                <a (click)="showModal()">
                    <img src="../assets/images/add.png" style="width: 27px; margin-left: 10px;" />
                </a>
            </th>
            <th scope="col" style="width: 8% ;" *ngFor="let date  of currentWeek"> <span nz-typography>{{formWeek(date)}}</span></th>
            <th colspan="2">Total/semaine</th>
        </thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Titre</th>
            <th class="text-center " *ngFor="let day of weekdays">
                <span nz-typography>{{ day }}</span>
            </th>
            <th class="text-center">Total</th>
            <th>Valider</th>
        </tr>




        <ng-container *ngFor="let item of map | keyvalue">
            <tr>
                <td>
                    <span nz-typography>{{item.key.id}}</span>
                </td>
                <td>

                    <span nz-typography>{{item.key.name}}</span>
                </td>
                <td contenteditable="true" *ngFor="let imp of item.value ;let ind=index">
                    <input nz-typography [(ngModel)]=" imp.hours " (change)=" changeImputations(imp,item.key.id) ">
                </td>
                <td>{{sumWeek(item.key)}}</td>

                <td>

                    <a title="Soumettre pour validation "><img src="../assets/images/soumettre.png " style="width: 20px; margin-left: 10px; " />
                    </a>
                </td>
            </tr>

        </ng-container>
        <tr>
            <th colspan=" 2 ">
                Total/jour
            </th>
            <td *ngFor="let i of [0,1,2,3,4,5,6] "> {{sumDay(i)}}</td>
            <td></td>
            <td></td>


        </tr>









    </table>


</div>

<nz-modal [(nzVisible)]=" isVisible " nzTitle="Choisir un project " (nzOnCancel)="handleCancel() " (nzOnOk)="add() ">
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Recherche " [(ngModel)]="selectedProject " (ngModelChange)="onChange(selectedProject) ">
        <nz-option *ngFor=" let project of intialProjectList " [nzValue]="project " [nzLabel]="project.name+ ' ---id:'+project.id "></nz-option>

    </nz-select>

</nz-modal>