<nz-table style=" width: 80%; ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Validateur</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let user of mylist ">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td nzShowCheckbox [(nzChecked)]="user.isValidator " (nzCheckedChange)="log(mylist) " (change)="onFilterChange($event,user.id,user.username,user.role,user.isValidator) "></td>

        </tr>

    </tbody>
</nz-table>