.my-custom-scrollbar {
    position: relative;
    height: 90%;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

th {
    position: fixed;
    font-size: 14px;
}

td {
    font-size: 13.5px;
}

table th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}