.cal-day-selected,
.cal-day-selected:hover {
    background-color: deeppink !important;
}

form {
    max-width: 600px;
}

.register-are {
    margin-bottom: 8px;
}

.sml-btn-icon {
    vertical-align: 0.1em!important
}