<div id="container">

    <div style="margin-bottom: 30px;">
        <h4 nz-typography>Gérer les utilisateurs</h4>
        <span nz-typography>Affecter des collaborateurs à un validateur,vous pouvez également supprimer une relation existante.</span>

    </div>

</div>

<div id="container">


    <div class="side">
        <span nz-typography><strong>Validateur:</strong></span>
        <br>


        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Choisir un valiateur " [(ngModel)]="selectedValidator" (ngModelChange)="onChangeVal(selectedValidator) ">
            <nz-option *ngFor=" let validator of validatorsList " [nzValue]="validator" [nzLabel]="validator.name"></nz-option>
        </nz-select>
    </div>
    <div class="side ">
        <span nz-typography><strong>Collaborateur(s):</strong></span>
        <br>
        <nz-select nzMode="multiple" nzShowSearch nzAllowClear nzPlaceHolder="Choisir des collaborateurs " [(ngModel)]="selectedCollaboratorsList" (ngModelChange)="onChangeCol(selectedCollaboratorsList) ">
            <nz-option *ngFor=" let collaborator of collaboratorsList" [nzValue]="collaborator" [nzLabel]="collaborator.name"></nz-option>
        </nz-select>


    </div>

</div>
<br>
<br>

<button nz-button (click)="cancel()" nzType="default"> Annuler</button>
<button nz-button (click)="addCollabs()" nzType="primary">Savegarder</button>