<div id="container">
    <div id="side">
        <p>Collaborateur: <b>{{ selectedValue?.label }}</b> </p>
        <br />
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choisir collaborateur">
            <nz-option *ngFor="let option of optionList" [nzValue]="option" [nzLabel]="option.label"></nz-option>
        </nz-select>
    </div>
    <div id="side">
        <p>Validateur(s): </p>
        <br />
        <nz-select nzMode="multiple" nzAllowClear nzPlaceHolder="Choisir validateur">
            <nz-option *ngFor="let option of listOfOption" [nzValue]="option" [nzLabel]="option"></nz-option>
        </nz-select>
    </div>
</div>
<br>
<br>
<button nz-button nzType="default">Annuler</button>
<button nz-button nzType="primary">Sauvegarder</button>