@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.components-table-demo-control-bar {
  margin-bottom: 12px;
}

.nz-form-item {
  margin-right: 16px;
  margin-bottom: 8px;
}
[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
app-root {
  display: block;
  height: 100%;
}

